*.i
*.o
*.rec
*.swp
*.swo
*.pyc

# Ignore guess output file



# Ignore rulesets so I don't accidently upload something I don't want to
Rules/*

# Don't ignore the default ruleset
!Rules/Default
!Rules/NoZhuyin
!Rules/FullZhuyin
!Rules/NewZhuyin3
!Rules/Markov0_2
!Rules/Markov0_4
!Rules/Markov0_6
!Rules/Markov0_8

# Don't commit save files
*.sav
*.omn